{% extends 'base.html'%}
{% block title %}Search Test{% endblock %}
{% block content %}

      {% load static %}

<div class="header_img mb-3">
  <img src="{% static '/img/village.jpg' %}" />
  <div class="blur">
    <div class="bg">
      <span class="icon"><i class="fas fa-plus"></i></span>
      <div calss="spacing">
        <span class="fisrt">New </span>
        <span class="second">Accom</span>
      </div>
    </div>
  </div>
</div>




  <form method="post" action="{% url 'home' %}" enctype="multipart/form-data">
    <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
      <label class="btn btn-default btn-sm active">
        <input type="radio" name="rbutton" id="option1" autocomplete="off" value="finger">
        <i class="fas fa-fingerprint"></i>
        <small>id</small>
      </label>
      <label class="btn btn-default btn-sm">
        <input type="radio" name="rbutton" id="option2" autocomplete="off" value="head">
        <i class="fas fa-heading"></i>
        <small>title</small>
      </label>
    </div>
  </form>

  <form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="form-group">
      <div class="input-group">
        <input name="search" value="{{ request }}" type="text" class="form-control" placeholder="Search">
        <div class='input-group-append'>
          <button class="btn btn-outline-dark" type="sumbit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </form>

  <form method="post" action="{% url 'report' %}">
    {% csrf_token %}

    <div class="form-group shadow-textarea">
      <label for="exampleFormControlTextarea6"></label>
      <textarea name="report_text" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here..."></textarea>
      <button class="btn btn-outline-dark" type="sumbit">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>

{% for p in post %}
<div style="margin-bottom:5px; border: 1px solid black; padding:5px; border-radius:5px;">
<form method="post" action="{% url 'like' %}">
  {% csrf_token %}
    <button class="btn btn-default btn-sm" type="submit">
      <i class="fas fa-paper-plane"></i>
      <small>Apply</small>
    </button>
</form>
<form method="post" action="{% url 'dislike' %}">
  {% csrf_token %}
    <button class="btn btn-default btn-sm" type="submit">
      <i class="fas fa-times"></i>
      <small>Cancel</small>
    </button>
</form>

<small>Current Applications: {{ p.applications }}</small>
</div>
{% endfor %}




{% endblock %}
